#body-addevent .container{
    width: 100vw;
    height: 100%;
    /* metto il contenuto in 2 colonne */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 5% 2%;
}

.addevent-form{
    display: flex;
    align-items: center;
    text-align: center;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: white;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: rgb(121, 107, 107);
    cursor: pointer;
    font-size: 1em;
}

select::-ms-expand{
    display: none;
}

.select{
    position: relative;
    display: flex;
    width: 100%;
    height: 3em;
    line-height: 3;
    background: white;
    overflow: hidden;
    border-radius: .25em;
}

/*Triangolo*/
.select:after{
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: white;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover:after{
    color: #38d39f;
}
/* File */

.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image label{
    border: 1px solid #4ad295;
    display: inline-block;
    padding: 1em;
    cursor: pointer;
    border-radius: .5em;
    background: transparent;
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
}
.image label:hover{
    background: #7febc7;
    transform: translateY(-.5em);
}

input[type="file"] {
    display: none;
}




