body, 
.ev_correlati{
    background:rgb(213, 251, 234);
}
.body-grazie{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}
h1{
    display: block;
    padding-top: 2.5em;
    font-size: 3em;
}
.body-grazie .gr-image{
    width: 40vw;
    height: 40vh;
}
.body-grazie .gr-image img{
    width: 100%;
    height: 100%;
}
.body-grazie .gr-btn button{
    font-family: inherit;
    font-size: 1em;
    display: block;
    margin: 1em;
    padding: 1em;
    border: 1px solid #06B063;
    background:transparent;
    border-radius: .2em;
    transition: background 1s cubic-bezier(.215, .61, .355, 1);
}
.body-grazie .gr-btn button i{
    color: #06B063;
}

.body-grazie .gr-btn button:hover{
    background-color: #A5F1CE;
}

@media (max-width: 768px) {
    .body-grazie .gr-image{
        display: none;
    }
    h1{
        display: block;
        padding-top: 1em;
        font-size: 1.8em;
    }
    .center{
        padding:2em;
    }
}