/* ! ============= BASE STYLE ============= */
*:focus{
    border:none;
    outline-offset: 0px;
    outline: none;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a{text-decoration: none;}
body{
    background:antiquewhite;
    margin:0px;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}
h1,h2{font-family: 'Righteous';}
header form{
    display: flex;
    box-sizing: border-box;
}
button{
    border: none;
    outline: none;
    cursor:pointer;
}

/* ! ============= HEADER ============= */
header{
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:10;
    box-shadow: 0px 0px 16px 0px rgb(0,0,0,.5);
}

.profile button{
    margin: 0px .2em;
    border-radius: .4em;
}
.profile li:nth-of-type(3) button{
    padding: 1em;
    border: 1px solid #4ad295;
    background:transparent;
    transition: background 1s cubic-bezier(.215, .61, .355, 1);
}
.profile li:nth-of-type(3) button:hover{
    background-color: #A5F1CE;
}
.profile li:nth-of-type(4) button{
    padding: 1em;
    background-color: #08cc74;
    color: white;
    transition: background 1s cubic-bezier(.215, .61, .355, 1);
}
.profile li:nth-of-type(4) button:hover{
    background-color: #059e59;
}

.profile li {display: inline;}
.profile{
    display:flex;
    align-items: center;
}
header .logo{
    margin: 10px 4em;
    background-color: #38d39f;
    font-weight: 600;
    font-size: 1.2em;
    padding: .5em;
}
header .logo a{
    color: white;
}
header ul a{
    color: black;
    padding: 5px;
}
header ul li{
    transition: .3s;
}
header ul li:nth-of-type(1):hover,
header ul li:nth-of-type(2):hover{
    transform: scale(1.05);
}
#SignUp{
    color:#e73c7e;
}
header .search-container{
    margin: .5em 0em;
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
}
header input[type=text]{
    border-radius: 3px;
    font-size:14px;
    padding: 11px;
    border: none;  
    width: 25em;
    background-color: #eff3f6;  
}
header ul{
    margin: 10px 2em;
}
header button[type=submit]{
    margin-left:.3em;
    padding:1em;
    border-radius: 3px;
    border: none;
    background-color: #4ad295;
    cursor: pointer;
    transition: .5s;
}
header button[type=submit]:hover{
    background-color: #24b372;
}
header button{
    cursor: pointer;
}

/* ! ============= DROPDOWN ============= */

.dropBtn {
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    border-radius: 3px;
    color: black;
    padding: .9em;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: .5s;
    background-size: 200%;
}

.dropdown {
    position: relative; 
    margin: 0em .5em;
    overflow: hidden;   
}

.dropdown_content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 11;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: .3em;
}

.dropdown_content a {
    float : none;
    color: black;
    z-index: 1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: .3em;
}
  
.dropdown_content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown:hover .dropBtn {
    background-position: right;
}

/* ! ============= MAIN ============= */
.main{
    margin:0px;
    background-image: url("../images/concerto.jpeg");
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.main .main_dx{
    float: right;
    width:65%;
    height: 100vh;
    color:white;
    text-align: center;
    display: flex;
    align-items: center;
    padding:10%
}
.title{font-size: 60px;}
.sub_title{ 
    font-size:24px;
    margin-top:10px;
}

/* ! ============= SLIDER ============= */
.slider{margin: 2.5em 2em}
.slider .sub_title{margin-left: .5em}
.main-carousel{padding: .5em 0;}
.carousel-cell{
    margin: 1em;
} 
.carousel-cell__content{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 4.5em;
    background:#e73c7e;
    border-radius: 1em;
    font-size: 1.2em;
    color: white;
} 




/* ! ============= FOOTER ============= */

footer{
    position: relative;
    width: 100%;
    padding: 50px 100px 20px; 
    background: #111;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec{
    margin-right: 30px;
}
footer .container .sec.aboutus{
    width: 40%;
}
footer .container h8{
    position: relative;
    color: white;
    font-weight: 500;
    margin-bottom: 15px;
}
/*linea rossa*/
footer .container h8:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: red;
}
footer p{
    color: #999;
    margin-top: 15px;
}

.link{
    position: relative;
    width: 25%;
}

.link ul li{
    list-style: none;
}

.link a{
    margin-top: 15px;
    color: #999;
    text-decoration: none;
    display: inline-block;
}

.link a:hover{
    color: white;
}
.contatti{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contatti .info{
    position: relative;
}
.contatti .info li{
    display: flex;
    margin-bottom: 16px;
}
.contatti .info li i{
    color: #999;
    font-size: 17px;
    margin-right: 10px;
    margin-top: 15px;
}

.contatti .info li a{
    color: #999;
    font-size: 17px;
    margin-right: 10px;
    margin-top: 15px;
}

.contatti .info li a:hover{
    color: white;
}

.copyright{
    width: 100%;
    background-color: #181818;
    text-align: center;
    padding: 8px 100px;
    color: #999;
}

/* === FINE FOOTER === */





/* === INIZIO SLIDE CART MENU === */


.slide button{
    background-color: orange;
    border: none;
    cursor: pointer;
    transform: perspective();
}

.slide i{
    font-size: 15px;
    margin: 0 .15em;
}
.nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index:50;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 4em;
    transition: 0.7s;
    border-bottom-left-radius: .5rem;
    box-shadow: -7px 7px 10px rgba(0,0,0,0.2);
}


/* X close */
.nav a{
    position: absolute;
    margin-top: -1.4rem;
    margin-left: .95em;
    font-size: 40px;
    text-decoration: none;
    color: white;
}

.nav a:hover{
    color: orange;
    transition: .08s;
}


.nav h13{
    position: absolute;
    margin-top: -.7em;
    margin-left: 8.5rem;
    font-size: 40px;
    text-decoration: none;
    color: white;
    font-weight: 625;
}

.nav h13:before{
    content: '';
    position: absolute;
    bottom: -.3rem;
    left: 0;
    width: 9rem;
    height: .3rem;
    background: orange;
}

.nav input{
    position: absolute;
    width: 80%;
    height: 75%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
}

.nav .btn{
    display: block;
    width: 80%;
    height: 50px;
    border-radius: 25px;
    margin: 20rem 2.8rem;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #f08100, #ffa500, #f08100);
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    background-size: 200%;
    transition: .5s;
}

.nav .btn:hover{
    background-position: right;
}

/* === FINE SLIDE MENU === */




/* === RESPONSIVE === */

@media screen and (max-width: 1050px){
  .container{
      grid-gap: 5rem;
  }  
}

@media screen and (max-width: 1000px){
    form h2{
      font-size: 2.4rem;
      margin: 8px 0;
  }  
  .img img{
      width: 400px;
  }
}

@media screen and (max-width: 900px){
    .img{
        display: none;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .onda{
        display: none;
    }
    .login-form{
        justify-content: center;
    }
    .signup-form{
        justify-content: center;
    }

    /*footer*/
    footer{
        padding: 40px;
    }
    footer .container{
        flex-direction: column;
    }

    /*Slide menu*/
    #slcontent{
        padding: 40px;
    }
    #slcontent .slide{
        flex-direction: column;
    }

}

























