/* ============= PROFILE BODY ============= */
.profile-body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;    
}

/* ============= HEADER sovrascrivere ============= */

.profile li:nth-of-type(2) button{
    padding: 1em;
    border: 1px solid #4ad295;
    background:transparent;
    transition: background 1s cubic-bezier(.215, .61, .355, 1);
}
.profile li:nth-of-type(2) button:hover{
    background-color: #A5F1CE;
}
@media (max-width: 768px) {
    .profile li:nth-of-type(2) button{
        display: none;
    }
}
.profile li:nth-of-type(3) button{
    padding: 1em .8em;
    background-color: #06B063;
    color: white;
    transition: background 1s cubic-bezier(.215, .61, .355, 1);
}
.profile li:nth-of-type(3) button:hover{
    background-color: #059e59;
}
/* ============= SEZIONE SINISTRA ============= */
.profile-sx{
    padding: 2em;
    padding-left: 8em;
    width: 40%;
}
.profile-sx h1{
    font-size: 3em;
    padding:.2em;
}
.profile-sx h3{
    font-size: 1.5em;
    margin:.8em;
    margin-left:.5em;
}
.profile-sx h3:hover{
    cursor: pointer;
    
}
.profile-sx .h3hover:hover i{
    transform: translateX(.3em);
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
}
.active{
    transform: translateX(12em);
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
}
@media (max-width: 1100px) {
  .active{
    transform: translateX(8.5em);  
  }
}

/* ============= SEZIONE DESTRA ============= */

/* ============= immagine ============= */
#profile-dx_img{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
    transition-delay: .1s;
}
.profile-dx_img img{
    width: 30em;
    height: 30em;
}

/* ============= info ============= */
.profile-dx_info{
    width: 60%;
    display: none;
    align-items: center;
    justify-content: center;
}
.profile-body .card-info{
    margin-top: 2em;
    background: whitesmoke;
    padding: 2em 5em;
    border-radius: .5em;
    box-shadow: 2px 2px 14px 0px rgba(0,0,0,.15);

}
.center{
    width: 100%;
    display: flex;
    justify-content: center;
}
.avatar{
    width: 100px;
}
.profile-dx_info h2{
    font-size: 1.2em;
    margin: .4em;
    margin-top: 1em;
}
.profile-dx_info p{
    margin: .5em;
}
.profile-dx_info button{
    background-color: transparent;
    cursor: pointer;
    float: right;
    transform: translateY(-35%) scale(1.4);
}

/* ============= orders ============= */
.profile-dx_orders{
    width: 70%;
    display:none;
    align-items: center;
    justify-content: center;
    padding: 3em;
}
table{
    border-collapse: collapse;
    box-shadow: 0px 5px 10px rgba(0,0,0,.1);
    background-color: rgb(250, 250, 250);
    text-align: left;
    overflow: hidden;
    border-radius: .5em;
}
table thead{
    box-shadow: 0px 5px 10px rgba(0,0,0,.1);
}
table th{
    padding: 1em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1rem;
    vertical-align:middle;
}
table td{
    padding: 1em;
}
table tbody tr:hover{
    background-color: rgb(255, 220, 255);
    cursor: pointer;
}
@media (max-width: 1100px) {
    #profile-sx{
        padding-left: 3em;
    }
    table {
        font-size: .9em;
    }
}
@media (max-width: 768px) {
    .profile-body{
        flex-direction: column;
        height: 100%;
        padding-bottom: 2em;
    }
    #profile-dx_img{
      display:none;
    }
    #profile-sx{
      padding-left: 2em;
      width: 100%;
    }
    .card-info{
        padding:1em;
    }
    #bigl-none{
        display: none;
    }
    table th{
        padding: .5em;
    }
    table td{
        padding: .5em;
    }

}