.body-search{
    padding: 7em 0em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background:rgb(213, 251, 234);
}
.body-search h3{
    padding: .6em 0em;
    font-size: 1.3em;
}
.event{
    margin: 1em;
    width: 85vw;
    padding: 1.5em;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: linear-gradient(135deg, #5ee9aa 5%, #A5F1CE); ;
    box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    border-radius: .2em;
} 
.event .event-sx{
    display: flex;
    align-items: center;
    width: 80%;
}
.event .img{
    width: 30%;
    height: 100%;
    border-radius: .2em;
}
.event .info{
    width: 70%;
    padding: 1em;
}
.event img{
    width: 100%;
    height: 100%;
    border-radius: .2em;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
}
.event .info *{
    padding: .5em;
}
.event .info a{
    padding: 0;
}
.event .info h2{
    font-size: 1.8em;
}
.event .info span{
    display: inline-block;
}
.event .acquista span:nth-of-type(1){
    font-size: 1.5em;
}

.event .acquista span:nth-of-type(2){
    display: block;
    font-size: .9em;
    padding: .5em 0em;
    color: navy ;
}
.event .acquista button{
    font-family: inherit;
    background-color: #06B063;
    padding: 1em;
    color: white;
    border-radius: .3em;
    font-size: 1em;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
}
.event .acquista button:hover{
    background: #038d4f;
}

strong { font-weight: bold !important ;}

/* ======== RESPONSIVE ======== */
@media (max-width: 768px) {
    .body-search{
        padding: 1em 2em;
    }
    .event{
        flex-wrap: wrap;
    }
    .event .event-sx{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .event .event-sx .img{
        width: 100%;
    }
    .event .event-sx .info{
        width: 100%;
    }
}